.content{
    display:grid;
    column-gap:16px;
    row-gap:40px;
    margin-left: 70px;
    margin-top:110px;

}

.video{
    cursor: pointer;
}

.intro-img{
    width:100%;
    border-radius: 8%;
}

.video-info{
    display:grid;
    grid-template-columns: 50px 1fr;
    align-items: top;
}

.creator{
    height:32px;
    width:32px;
    border-radius: 16px;
    margin-left:5px;
    margin-top:3px;
}

.video-stats{
     display:fixed;
     align-items:flex-start;
     flex-direction: column;
}

.video-title{
    font-size: 14px;
    margin-top:3px;
    font-weight: 500;
    margin-bottom: 8px;
}

.creator-info,
.video-views{
    color:gray;
    font-size:11px;
    margin-top:5px;
}

@media(max-width:770px){
    .content{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:771px) and (max-width:999px){
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}